table {
	border: 1px solid black;
	border-collapse: collapse;
}

html {
	font-family: monospace;
	font-size: 14px;
}

table, td, th {
	border: 1px solid gray;
	padding: 1em;
}

img {
	width: 100px;
	height: 100px;
}

footer {
	background-color: black;
	color: white;
	width: 30em;
}

#autor {
	font-size: 1.2em;
	color: red;

}

a {
	color: lightgreen;
}