#foro {
    box-shadow: 1px 1px 20px  gray;
    background-color: teal;
    max-width: 80vw;
    margin: auto;
    padding: 20px;
}

#pregunta {
    /* box-shadow: 1px 1px 20px  white; */
    margin: 20px;
    padding: 1em;
    border: 1px solid lightgray;
    background-color: white;
}
#pregunta h2 {
    border-bottom: 1px solid lightgray;
}
#reply * {
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
}
button {
    padding: 10px 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    background: deepskyblue;
    border: none;
    border-radius: 40px;
}
button:active {
    background-color: lightseagreen;
}

.respuesta {
    margin: 20px;
    padding: 1em;
    border: 1px solid lightgray;
    background-color: white;
}
.respuesta h2 {
    border-bottom: 1px solid lightgray;
}
.respuesta h3 {
    border-top: 1px solid lightgray;
}
.respuesta a {
    color: gray;
    font-size: smaller;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}