/* html, body {
    font-family: sans-serif;
}


fieldset {
    width: 250px;
    margin: auto;
    background-color: #304172;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

label {
    color: #7884A9;
}

input {
    margin: 1em;
    padding: 0.5em;
    background-color: #4F5E8C;
    color: white;
    border-radius: 15px;
    border: none;
}

#submit {
    padding: 0.5em 0em 0.5em 0em;
    font-size: larger;
    background-color: #00E500;
    text-align: center;
    color: #004F00;
} */

#jsonobj {
    background-color: lightgray;
    border-radius: 20px;
}